#
# Default iauth configuration file
#
# $Id: iauth.conf.example,v 1.3 2002/06/01 18:26:23 chopin Exp $
#

# Important note: there must be one tab only before modules options.
# Otherwise iauth will be dieing continously.

# If iauth timeouts, then reject user
notimeout
# This makes the IRC server require that iauth performs the authentication
# in order for a new user connection to be accepted
required

# Perform ident lookups
module rfc931

# Check and reject open SOCKS proxies
#module socks
#	option = reject,paranoid
