#
# Default iauth configuration file
#
# $Id: iauth.conf.example,v 1.2 1999/07/04 22:15:43 kalt Exp $
#

# If iauth timeouts, then reject user
notimeout
# This makes the IRC server require that iauth performs the authentication
# in order for a new user connection to be accepted
required

# Perform ident lookups
module rfc931

# Check and reject open SOCKS proxies
#module socks
#	option = reject,paranoid
